<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

<div>
<div class="d-flex align-items-center justify-content-center">
    <div class="title">
    <h1> Block-O-Clock </h1>
    </div>
</div>
<div class="center-container">
<div class="slogan1">
    <i><h2 class="kalam-regular">Crafting Your Time,</h2></i>
</div>
<div class="slogan2">
    <i><h2 class="kalam-regular">One Block at a Time!</h2></i>
</div>
</div>
    <div class="main-text">
    <div class="d-flex align-items-center justify-content-center">
    <div class="text-box">
        <h2 style="padding-bottom: 10px;" class="kalam-regular">How to use Time Blocking</h2>
        <ol class="kalam-light">
            <li> Create a list of tasks</li>
            <li> Assign one time block to each task </li>
            <li> Work on your task only in the blocked time </li>
            <li> Take breaks between blocks</li>
            <li> Review and repeat</li>
        </ol>
    </div>
    <img src="https://res.cloudinary.com/imagist/image/fetch/q_auto,f_auto,c_scale,w_2240/https%3A%2F%2Fimages.ctfassets.net%2Fdm4oa8qtogq0%2F4TX4sf646bho3bNtnOKLFr%2Fafcd4912bdc83f1eb6ed2709ad2acf92%2FTime_blocking.png" alt="Time Block Logo" width="70%" height="60%"></img>
    </div>
</div>

<% if Current.user %>
    

<% end %>    

